<ul>
<% @lists.each do |list|%>
<li> <%= link_to list.name, list, class: 'text-decoration-none' %>
<%= cl_image_tag(list.photo.key, :cloud_name => tsainei), height: 300, width: 400, crop: :fill %></li>

<% end %>
</ul>

<%= link_to "Create New List", new_list_path, class: 'btn btn-primary btn-sm' %>
